body {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    box-sizing: border-box;
    background-color: #F5F5DC; 
    display: inline-block;
    margin: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.Header {
    height: calc(20% - 30px);
    width: calc(100% - 20px);
    background-color: #D2B48C; 
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

.Contenido {
    height: calc(80% - 10px);
    width: calc(100% - 20px);
    background-color: #EEE8CD; 
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
}

.Contenedor {
    width: calc(50% - 20px);
    height: calc(100% - 20px);
    box-sizing: border-box;
    display: flex;
}

#Derecha {
    display: flex;
    align-items: center;
    background-color: #E3C7A1 ; 
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#Izquierda {
    display: flex;
    align-items: center;
    background-color: #F0D8BE ; 
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

textarea{
    height: 50%;
    width: 100%;
}
